.board {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: #d18a15;
}

.field {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);

  justify-content: center;
  align-content: center;
  height: 100vh;
  background: no-repeat url('/assets/bg-board.jpg');
  background-position: center;
}

.cell {
  position: relative;
  height: 200px;
  width: 200px;
}
