.board {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: no-repeat url('/assets/bg-board.jpg');
  background-size: cover;
}

.field {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);

  justify-content: center;
  align-content: center;
  height: 100vh;
}

.cell {
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
}
