.hand {
  transform: translateY(10%);
  /* Height is all the cards stacked height
  Todo this may change to be nicer for different screen sizes */
  height: 720px;
  width: 200px;
}

.cards {
  position: relative;
}

.selected {
  transform: translateX(-50px);
}